<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-brand">Lotto Ticket</div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
      <div class="d-flex">
        <button
          class="btn btn-outline-success"
          type="button"
          (click)="onFetchData()"
        >
          Fetch Data
        </button>
        <button
          class="btn btn-outline-success"
          type="button"
          (click)="onSaveData()"
        >
          Store Data
        </button>
      </div>
    </div>
  </div>
</nav>
